body{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
    position: relative;
}

nav{
    height: 30px;
    width: auto;
    text-align:initial;
    position: relative;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
    

}
nav img{
    border-radius: 50%;
    width: 70px;
    margin: 20px;
} 
.question{
 
    border-style:solid;
    
    color: #fefefe;
    height: 500px;
    width: 90%;
    padding-left: 20px;
    margin: 60px;
    border-radius: 40px;
    box-shadow: 10px 10px 40px rgba(135, 135, 135, 0.772) !important;
    border-style: hidden;

}
p{
    color: white;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Que{

    padding: 70px 0px 30px 60px;
    font-size: 160%;
    color: aliceblue !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul{
    display: inline-block;
}
input{
    margin: 20px;
    
}
span{
    font-size: 150%;
}

#buttons{
    margin-left: 80%;
    padding: 5px 15px ;
    

}

/* label{
    font-size: 130%;
} */

.greetingModal{
    display: none;
    text-align: center;
    /* position: fixed; */
    box-sizing: border-box;
  
    /* background-image: url("./imges/SL-052720-31240-26.jpg"); */
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
    border-radius: 5%;
    margin:auto;
    padding: 10px;
    width: 450px;
    height: 700px;
    max-width: 100%;
    max-width: 100%;
    justify-content: center;
    z-index: 2;

    

    
}
video{
    width: fit-content;
    height: fit-content;
    
}

#congrats{
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: cyan;
    color: blueviolet;
    font-family: 'Poppins', sans-serif;

}
#modal{
    justify-content: center;
    margin: 20px;
    padding: auto;
    text-align:left;
    display: flex;
    /* gap: 40px; */
    flex-direction: column;
    align-items: center;

    
}
.score{
    text-align: center;
    margin-top: 30px;
    background-color: rgb(120, 193, 102);
    height: 60px;
    width: 60px;
    border-style: hidden;
    border-radius: 20%;
    

    
    
}

/* #score,#wrong,#count{
    box-sizing: border-box;
    
    display: block;
    height: fit-content;
    width: 10px;
} */
label{
    display: inline-flex;
    padding:15px
}

h4{
    margin-left: 5px;
    font-size: 120%;
    background-color: blueviolet;
    
}
/* 
#score,#count,#wrong{
    margin-top: 25px;
    margin-left: 30px;
    height: fit-content;
    /* padding: 30px; 
}
#close{
    position: static;
} */

.s_value{
    font-size: 200%;
    margin-top: 10px;
}
.message{
    font-size: 150%;
    margin-top: 70px;
}

.feedback p{
    font-style: italic;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}


